.trelloList {
    width: 300px;
    background-color: var(--component-background-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 8px;
    margin-right: 8px;
    height: 100%;

    padding: 0 6px;
    align-self: flex-start;
    flex-shrink: 0;
    display: block;
    height: 100%;
    white-space: nowrap;
}
.containerCards{
    display: flex;
    flex-direction: column;
    margin: 8px auto;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #fff6 #00000026;
    scrollbar-width: auto;
    user-select: none;
    white-space: nowrap;
    scrollbar-width: thin;
}
.list{
    border-radius: 12px 
}